
  .burgerMenu{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1B5865;
    width: 70px;
    height: 56px;
    border: none;
    cursor: pointer;
    padding: 12px 0px;
    z-index: 10;
  }
 
  
  .burgerMenu div {
    width: 40%;
    height: 0.2rem;
    margin: 3px auto;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    background: #ffff;
  }
