/* Customer Table */
.customerHistoryTable  tr th:nth-child(1){
    width: 5%;
}
.customerHistoryTable  tr th:nth-child(2){
    width: 8%;
}
.customerHistoryTable  tr th:nth-child(3){
    width: 8%;
}
.customerHistoryTable  tr th:nth-child(4){
    width: 10%;
}
.customerHistoryTable  tr th:nth-child(5){
    width: 8%;
}
.customerHistoryTable  tr th:nth-child(6){
    width: 8%;
}
.customerHistoryTable  tr th:nth-child(7){
    width: 10%;
}
.customerHistoryTable  tr th:nth-child(8){
    width: 3%;
}
.customerHistoryTable  tr th:nth-child(9){
    width: 9%;
}
.customerHistoryTable  tr.MuiTableRow-head{
    background-color: #E1F3F7;
}
.customerHistoryTable th.MuiTableCell-head{
    color: #1B5865;
    font-weight: 600;
    font-size: 11px;
}
.customerHistoryTable .MuiTableCell-body{
    color: #484848;
}
.customerHistoryTable .MuiTableCell-root{
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid lightgrey;
    line-height: 1;
}
.customerTableContainer .MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded{
    border: 1px solid #1B5865;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px #1b58653b;
}
.customerDropdown button{
    text-transform: none;
    margin-top: 16px;
    float: right;
    color: #1B5865;
    border-color: #1B5865;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0px 0px 1px 0px #1B5865;
}
.customerFilters .MuiFormControl-root{
    width: 12%;
}
.emailFilter.MuiFormControl-root{
    width: 22% ;
}
.customerFilters .MuiInputBase-input{
    font: message-box;
}